<div id="left-session-column">
<h1 class="title color-cycler">ColorsForUs</h1>

<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%><br>

  <div><%= f.submit "Sign in", :class => "sign-in-button" %></div>
<% end %>
<br>

<%= render "devise/shared/links" %>

<%= link_to "Sign in with Facebook", "http://colorsfor.us/auth/facebook" %>
<br><br>
-or-
<br><br>
<%= button_to "Sign in as a Guest", guest_login_url, :method => :get, :class => "submit-button" %>
</div>

<div id="right-session-column">
  <h3 class="lesser-title">What is ColorsForUs?</h3>
  <p>
    A color palette and wallpaper creation site, similar to Adobe Kuler or COLOURlovers.
  </p>
  
  <h3 class="lesser-title">What was used to develop this project?</h3>
  <p>
    Backbone.js on the front-end, Ruby on Rails at the back, and a good helping of Javascript libraries and Ruby gems.
  </p>
  
  <h3 class="lesser-title">Who made this?</h3>
  <p>
    Russ Rinzler: Full-stack web developer with a strong interest in front-end development. You can read more about him at:<br><br>
    <a href="http://russis.me">http://russis.me</a>
  </p>
</div>