<center><h1 class="lesser-title"><%= palette.get('name') %></h1>
by <a href="/#/users/<%= palette.get('creator').id %>">
<%= palette.get('creator').username %></a>

<div class="detail-palette">
  <% palette.colors().forEach(function(color){ %>
    <div class="index-palette-swatch" 
      style="background-color: <%= color %>; 
      width: <%= palette.divPercentWidth() %>%">
    </div>
  <% }) %>
</div>

<% if (palette.idOfFavoriters().indexOf(currentUserID) === -1) { %>
  <div class="favorite">
<% } else { %>
  <div class="unfavorite">
<% } %>
  <button class="favorite-button">&#9733 Favorite</button>
  <button class="unfavorite-button">&#9734 Unfavorite</button>
</div>
<br>
<button class="create-button create-wallpapers">Create Wallpapers</button>
</center>

<div id="wallpaper-modal" class="modal">
  <h3 class="modal-title">Create Wallpaper:</h3>
  
  <form>
    <label for="wallpaper-width">Width:</label>
    <input type="number" placeholder="width (pixels)" id="wallpaper-width">
    
    <label for="wallpaper-height">Height:</label>
    <input type="number" placeholder="height (pixels)" id="wallpaper-height">
    <br><br>
    
    <input type="submit" class="submit-button" value="Generate"
    id="generate-wallpaper">
  </form>
  <p>If your wallpaper isn't generated, please turn your ad-blockers off.</p>
</div>