<h1 class="title">Recent Palettes:</h1>

<% palettes.forEach(function(palette) { %>
  <div class="palette-in-group">
  <a href="#/<%= palette.get('id')%>">
    <%= palette.get('name') %> by <%= palette.get('creator').username %>
    <div class="index-palette">
      <% palette.colors().forEach(function(color){ %>
        <div class="index-palette-swatch" 
          style="background-color: <%= color %>; 
          width: <%= palette.divPercentWidth() %>%">
        </div>
      <% }) %>
    </div>
    </a>
    
    <% if (palette.idOfFavoriters().indexOf(currentUserID) === -1) { %>
      <div class="favorite" data-palette-id='<%= palette.get("id")%>'>
    <% } else { %>
      <div class="unfavorite" data-palette-id='<%= palette.get("id")%>'>
    <% } %>
      <button class="favorite-button">&#9733 Favorite</button>
      <button class="unfavorite-button">&#9734 Unfavorite</button>
    </div>
  </div>
<% }); %>