<script type="application/json" id="bootstrapped_current_user_id">
  { "current_user_id": <%= current_user.id %> }
</script>

<header>
  <a href="<%= root_url %>">
    <div id="nav-logo" class="color-cycler">
      ColorsForUs
    </div>
  </a>
  
  <%= link_to destroy_user_session_path, :method => :delete  do %>
    <div class="nav-item last-nav-item">Sign Out</div>
  <% end %>
  
  <div class="nav-item">My Account</div>
  
  <div class="nav-item">Browse</div>
  
  <a href="#/new">
    <div class="nav-item">Create</div>
  </a>
  
  <a href="#">
    <div class="nav-item active-tab">
      Home
    </div>
  </a>
  
</header>


<div id="content">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>